{
  "appMet": "/home/liuliu/Research/rapidlib-linux/modelConstr/appExt/ferretMet.py", 
  "cost_rsdg": "/home/liuliu/Research/rapidlib-linux/modelConstr/data/ferretPort/outputs/cost.rsdg", 
  "defaultXML": "/home/liuliu/Research/rapidlib-linux/modelConstr/source/outputs/ferret-default.xml", 
  "desc": "/home/liuliu/Research/rapidlib-linux/modelConstr/data/ferretPort/depfileferret", 
  "mv_default_rsdg": "/home/liuliu/Research/rapidlib-linux/modelConstr/ferretPort/outputs/mv2.rsdg", 
  "mv_rsdgs": [
    "/home/liuliu/Research/rapidlib-linux/modelConstr/data/ferretPort/outputs/mv0.rsdg", 
    "/home/liuliu/Research/rapidlib-linux/modelConstr/data/ferretPort/outputs/mv1.rsdg"
  ], 
  "preferences": [
    1.0, 
    1.0
  ], 
  "rapidScript": "/home/liuliu/Research/rapidlib-linux/modelConstr/source/rapid.py", 
  "seglvl": 2
}
