**/*.xml
**/.idea/*
.DS_Store
*.o
*.a
**/*.gch
**/*.pyc
**/*.lp
**/*.fact
**/*.sol
**/*.txt
**/*.log
**/*.swp
**/*.csv
**/*.rsdg
**/*.profile
**/*.scssc
**/*.yml
modelConstr/source/outputs/*
docs/.editorconfig
docs/.github/*
